@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 0px 34px rgba(208, 208, 208, 0.4));
}

header {
  height: 64px;
  width: 100%;
}

main {
  width: 1440px;
  margin: 0 auto;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #343a40;
  text-decoration: none;
  font-family: "Poppins Regular", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-right: 40px;
}

.main-screen {
  /* border: 1px solid black; */
  height: 740px;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: 1499px 942px;
  background-position: top -138px right -59px;
  opacity: 0.7;
  content: "";
}

.horizontal-padding {
  padding: 0 132px;
}

.possibilities-container {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid black; */
  height: 1088px;
  background-color: #fafafa;
}

.possibilities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px 132px 0px 132px;
}

.possibilities-list-item {
  margin-top: 61px;
  padding: 24px;
  /* border: 1px solid black; */
  width: 376px;
}

.possibilities-list li:not(:first-child) {
  background: #ffffff;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.statistics-container {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.statistics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -100px 132px 0px 132px;
}

.statistics-list-item {
  z-index: 1;
  display: flex;
  width: 275px;
  height: 198px;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;
}

.statistics-counting {
  font-family: "Poppins Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 78px;

  color: #343a40;
  margin-bottom: 2px;
}

.statistics-title {
  font-family: "Poppins Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #343a40;
  margin-top: 2px;
}

.possibilities-list-main-title {
  font-family: "Rubik Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;

  color: #343a40;
}

.possibilities-list-title-1 {
  font-family: "Poppins Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 164.6%;

  letter-spacing: 0.01em;

  color: #343a40;
  margin-top: 20px;
}

.possibilities-list-title-2 {
  font-family: "Poppins SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #343a40;
  margin-top: 20px;
}

.possibilities-list-description {
  font-family: "Poppins Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #343a40;
}

.box-image {
  /* border: 1px solid black; */
  width: 81px;
  height: 81px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: -65px;
  background-position: center center;
}

.image-1 {
  background-image: url("../img/1.svg");
  background-repeat: no-repeat;
}

.image-2 {
  background-image: url("../img/2.svg");
  background-repeat: no-repeat;
}

.image-3 {
  background-image: url("../img/3.svg");
  background-repeat: no-repeat;
}

.image-4 {
  background-image: url("../img/4.svg");
  background-repeat: no-repeat;
}

.image-5 {
  background-image: url("../img/5.svg");
  background-repeat: no-repeat;
}
